<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

	<!-- log4jdbc 전체 OFF -->
    <logger name="net.ttddyy.dsproxy.listener.logging" level="DEBUG"/>
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener" level="DEBUG"/>
    
    <logger name="SQL" level="DEBUG"/> 

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>